GenerativeAI-info*
SweetBites/SweetBites.xcodeproj/project.xcworkspace/xcuserdata/turma01-24.xcuserdatad/UserInterfaceState.xcuserstate
SweetBites/SweetBites.xcodeproj/project.xcworkspace/xcuserdata/turma01-14.xcuserdatad/UserInterfaceState.xcuserstate
